<html>

<head>
  <title><%= title %></title>
</head>

<body>
  <!-- < %include('partials/navbar', {links}) %> -->
  <ul>
    <% games.forEach((game)=> { %>
    <%- include('partials/game', {game}); %>
    <% }); %>
  </ul>
</body>

</html>