<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/styles.css">

</head>

<body>
  <%- include('partials/header', {links}) %>
    <h1>
      <%= title %>
    </h1>
    <ul class="games-list">
      <li class="game-item">
        <span>cover</span>
        <span>title</span>
        <span>year</span>
        <span>min. players</span>
        <span>max. players</span>
      </li>
      <% games.forEach((game)=> { %>
        <%- include('partials/game', {game}); %>
          <% }); %>
    </ul>
    <a href="/game/new">add new game</a>
</body>

</html>