<html>

<head>
  <title><%= title %></title>
</head>

<body>
    <!-- < %- include('partials/navbar', {links}) %> -->
    <form method="POST" action="/game/new">
      <h1>Add a new game</h1>
      <input name="title" type="text" placeholder="Title">
      <input name="release_year" type="number" placeholder="Release Year">
      <input name="min_players" type="number" placeholder="Min. Players">
      <input name="max_players" type="number" placeholder="Max. Players">
      <button type="submit">Submit</button>
    </form>
</body>

</html>