<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">

</head>

<body>
  <%- include('../partials/header', {links}) %>

  <ul>
    <% platforms.forEach((platform)=> { %>
    <%- include('../partials/platform', {platform}); %>
    <% }); %>
  </ul>
  <a href="/platform/new">add new platform</a>
</body>

</html>