<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">

</head>

<body>
  <%- include('../partials/header', {links}) %>
  <ul>
    <% tags.forEach((tag)=> { %>
    <%- include('../partials/tag', {tag}); %>
    <% }); %>
  </ul>
  <a href="/tag/new">add new tag</a>
</body>

</html>